$palette: (
  primary: #3571f3,
  secondary: #000,
  border-line: #bbbbbbbf,
  placeholder: #4b4a4abf,
  tetiary: #212172,
  tetiary-light: #ebe7e7,
  tetiary-dark: #4141c5,
  link: #1b4cb4,
  pure: #fff,
  transperent: #fff0
);
